<div class="banner light-on">
    <div class="banner-content"><hr>
      <h1>Domotique et objets connectés.</h1>
      <h3>La technologie au service du quotidien et de la consommation responsable.</h3><hr><br>
      <div href="#" class="mybutton">
        <div href="#" id="interupt"></div>
      </div>
    </div>
  </div>
