<header>
  <div class="navi">
    <div class="nav-left">
      <a href="http://localhost:3000/">
      <%= image_tag "Logo_elec2.png", alt: "Dhomeelec", height:50, class: "logo-icon" %>
      <div class="dhom-text"><span>Dhomeelec</span></a>
    </div>
  </div>

      <nav class="site-nav">
        <ul>
          <li> <a id="drop-1" href="#"><i class="fa fa-home site-nav-icon"></i>Accueil</a> </li>
          <li> <a id="drop-2" href="#"><i class="fa fa-info site-nav-icon"></i>Particuliers</a> </li>
          <li> <a id="drop-3" href="#"><i class="fa fa-pen site-nav-icon"></i>Professionnels</a> </li>
          <li> <a id="drop-4" href="#installations"><i class="fa fa-euro-sign site-nav-icon"></i>Nos installations</a></li>
          <li> <a id="drop-5" href="#"><i class="fa fa-envelope site-nav-icon"></i>Contact</a> </li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <div class="hamburger">
        </div>
      </div>

      <div class="dropdown">
        <div class="drop-wrap">
          <ul>
            <li><a href="#">Notre Pack découverte</a></li>
            <li><a href="#">Kit de connection supplémentaire</a></li>
            <li><a href="#">Echo Dot 3</a></li>
            <li><a href="#">Google home</a></li>
            <li><a href="#">Promo 5</a></li>
            <li><a href="#">Promo 6</a></li>
          </ul>
        </div>
      </div>

  </div><!-- fin container -->
</header>

