// Specific CSS for your home-page
#cible {
  color: white;
  background-color: #aaa;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  min-width: 280px;
  max-width: 50%;
}

.exercice1 {
  background-color: #ccc;
  padding: 10px;
}

.exercice2 {
  background-color: #eee;
  padding: 10px;
}
