<section  class="container">
  <div class="exercice1">
    <div>
      <h3>Javascript and the DOM :</h3>
      <h4>Exercice 1</h4>
      <ul>
        <li><p>Renvoyer la valeur de la largeur de la fenêtre dans le html.</p></li>
        <li><p>Insérer une div et du texte avec "insertAdjacentHTML" après ça.</p></li>
      </ul>
      <div id="cible"></div>
    </div>
  </div>
  <div class="exercice2">
    <h4>Exercice 2</h4>
  </div>
</section>



