.card {
  width: auto;
  position: relative;
  text-align: center;
  padding: 1rem 0;
  height: auto;
  background: $orange;
  border-radius: 5px;
  margin: 2rem 1rem;
}

.card h1 {
  color: black;
}

.card p {
  color: black;
  font-size: 0.8em;
  max-height: 200px;
  border-radius: 2px;
  background: white;
  text-indent: 2em;
  overflow: scroll;
}
